{% extends "layout.html" %}
<h2>{{ title }}</h2>
{% block body %}
<h3 align="center">Random Tournament Generator</h3>
<div class="form" align="center">
	<form method='POST' action=''>
		{{ form.hidden_tag() }}
		<p>
		<div class="form_group" align="center">
		{{ form.sport }}
		</div>
		</p>
		<p>
		<div class="form_group" align="center">
		{{ form.modus }}
		</div>
		</p>
		<p>
		<div class="form_group" align="center">
		{{ form.participant }}
		</div>
		</p>
		<p>
		<div class="form_group" align="center">
		{{ form.submit }}
		</div>
		</p>
	</form>
</div>
{% endblock %}
