{% extends "layout.html" %}
{% block body %}
<p>
<h2 align="center">==========================</h2>
<h2 align="center">Welcome to my SFIA#2 Project</h2>
<h2 align="center">==========================</h2>
</p>
<p>
<h3 align="center">
Model a single elimination tournament for athletic events like football, basketball, etc.
</h3>
<br>
<h3 align="center">
Please register and login to access this service.
</h3>
<br>
<h3 align="center">
After login, you can enter the participant to generate random competition pairings.
</h3>
<br>
<h2 align="center">*********************!!Enjoy your stay!!*********************</h2>
</p>
{% endblock %}
